@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Signika+Negative:wght@300..700&display=swap');
/*rubik, roboto slap*/

/* Contenedor principal */
#container-home {
    padding-top: 17vh;
    display: flex;
    margin-left: 8vw;
}

/* Foto */
#container-home .home-photo-text .photo-me {
    border-radius: 50%;
    width: 470px;
    height: 450px;
}

/* Texto principal */
.home-text {
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    line-height: 1.6;
    margin-top: 12vh;
    padding-left: 3rem;
    text-align: justify;
    color: black;
}

.home-text .name {
    font-size: 60px;
    font-family: "Signika Negative", sans-serif;
    color: #E04136;
}

/* Cursor animado */
.cursor {
    display: inline-block;
    width: 3px;
    height: 40px; /* Ajusta la altura según el tamaño de la fuente */
    background-color: black;
    animation: blink 0.7s steps(1) infinite;
    vertical-align: bottom;
    margin-bottom: 5px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Botones */
.home-buttons {
    text-align: center;
    margin-top: 5vw;
    margin-right: 3vw;
}

.home-buttons #see-more {
    font-size: 25px;
    border-radius: 8px;
    font-family: "Rubik", sans-serif;
    padding: 2px 12px;
    background-color: black;
    color: white;
    transition: transform 0.3s ease-in;
    cursor: pointer;
}

.home-buttons #see-more:hover {
    transform: scale(1.1);
}
